BODY {
  BACKGROUND: #FFFFFF;
  COLOR : #000000;
  FONT-FAMILY : Verdana;
  TEXT-ALIGN: justify;
  FONT-SIZE: 13pt;

  max-width: 1000px;
  margin: 0 auto;
}

CODE {
  FONT-FAMILY: Courier;
  FONT-SIZE: 13pt;
}

TD {
  FONT-FAMILY: Verdana;
  TEXT-ALIGN: justify;
  FONT-SIZE: 13pt;
}

H1 {
  FONT-FAMILY: Verdana;
  FONT-SIZE: 20pt;
}

H2 {
  FONT-FAMILY: Verdana;
  FONT-SIZE: 18pt;
}

H3{
  FONT-FAMILY: Verdana;
  FONT-SIZE: 16pt;
}

B {
  FONT-FAMILY: Verdana;
  FONT-WEIGHT: bold;
}

BIG {
  FONT-FAMILY: Verdana;
  FONT-SIZE : 14pt;
}

A {
  FONT-FAMILY: Tahoma, Verdana;
  FONT-SIZE: 13pt;
  COLOR: #505050;
  FONT-WEIGHT: bold;
  TEXT-DECORATION: underline;
}

A:hover {
  FONT-FAMILY: Tahoma, Verdana;
  FONT-SIZE: 13pt;
  COLOR: #1E7289;
  FONT-WEIGHT: bold;
  TEXT-DECORATION: underline;
}

A.topmenu {
  FONT-FAMILY: Tahoma, Verdana;
  FONT-SIZE: 8pt;
  COLOR: #707070;
  FONT-WEIGHT: normal;
  TEXT-DECORATION: none;
}

A.topmenu:hover {
  FONT-FAMILY: Tahoma, Verdana;
  FONT-SIZE: 8pt;
  COLOR: #909090;
  FONT-WEIGHT: normal;
  TEXT-DECORATION: none;
}

A.leftmenu {
  FONT-FAMILY: Tahoma, Verdana;
  FONT-SIZE: 8pt;
  COLOR: #505050;
  FONT-WEIGHT: normal;
  TEXT-DECORATION: none;
}

A.leftmenu:hover {
  FONT-FAMILY: Tahoma, Verdana;
  FONT-SIZE: 8pt;
  COLOR: #909090;
  FONT-WEIGHT: normal;
  TEXT-DECORATION: none;
}

A.leftmenucurrent {
  FONT-FAMILY: Tahoma, Verdana;
  FONT-SIZE: 8pt;
  COLOR: #303030;
  FONT-WEIGHT: bold;
  TEXT-DECORATION: none;
}

A.leftmenucurrent:hover {
  FONT-FAMILY: Tahoma, Verdana;
  FONT-SIZE: 8pt;
  COLOR: #606060;
  FONT-WEIGHT: bold;
  TEXT-DECORATION: none;
}

A.copyrights {
  FONT-FAMILY: Tahoma, Verdana;
  FONT-SIZE: 7pt;
  COLOR: #A0A0A0;
  FONT-WEIGHT: normal;
  TEXT-DECORATION: none;
}

A.copyrights:hover {
  FONT-FAMILY: Tahoma, Verdana;
  FONT-SIZE: 7pt;
  COLOR: #A0A0A0;
  FONT-WEIGHT: normal;
  TEXT-DECORATION: none;
}

DIV.title {
  FONT-FAMILY: Verdana;
  COLOR: #206080;
  FONT-WEIGHT: bold;
  FONT-SIZE: 14pt;
  MARGIN-TOP: 10px;
}

TEXTAREA {
  FONT-FAMILY: Verdana;
  FONT-SIZE: 13pt;
}

INPUT {
  FONT-FAMILY: Verdana;
  FONT-SIZE: 13pt;
}

SELECT {
  FONT-FAMILY: Verdana;
  FONT-SIZE: 13pt;
}

INPUT.test {
  COLOR: #000000;
  FONT-FAMILY: Verdana;
  FONT-SIZE: 10px;
  FONT-WEIGHT: normal;
  BACKGROUND-COLOR: #FFFFFF;
  BORDER: 1px solid #38A1BE;
  HEIGHT: 14px;
  WIDTH: 60px;
}

LI {
  margin-bottom: 0.8em;
}